/* General styling */
body {
  font-family: 'Nougat-ExtraBlack';
  src: url(fonts/Nougat-ExtraBlack.ttf) format('truetype');
  background-color: #ffb6c1;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header styling */
h1 {
  color: #007acc;
  margin-top: 50px;
}

/* Button styling */
button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005f99;
}

/* Dropdown menu styling */
select {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Result styling */
#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
